body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

#statusPane {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 400px;
  padding: 10px 10px 10px 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 20px / 50px;
  border-radius: 20px / 50px;
  font: normal 16px/normal "Trebuchet MS", Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: -webkit-radial-gradient(closest-side, rgba(64,150,238,1) 0, rgba(14,90,255,1) 100%);
  background: -moz-radial-gradient(closest-side, rgba(64,150,238,1) 0, rgba(14,90,255,1) 100%);
  background: radial-gradient(closest-side, rgba(64,150,238,1) 0, rgba(14,90,255,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 0 0 4px 4px rgba(0,0,0,1) ;
  box-shadow: 0 0 4px 4px rgba(0,0,0,1) ;
  text-shadow: 2px 1px 4px rgba(40,40,40,1) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

#messagebox {
	background: lightgreen;
	padding-left : 10px;
	border-left-style: solid;
	border-left-width: 5px;
	border-left-color: green;
}